<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="static/style.css" rel="stylesheet">
        <style>
            body {
                background-color: #94cafc;
            }
        </style>
    </head>
    <body>
    <center>

        <div class='cont'>
                <h2>The higher heating valuse (HHV) (MJ/kg) Prediction<br> Finish</h2>
            </div><br>

        <h1>{{data[0]}} </h1>


        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>
